/* Main CSS File */
@import "../style.css";


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Variables */
:root {
    /* Fonts */
    --main-font: 15px/125% "Work Sans", sans-serif;
    --main-font-bold: 700 15px/125% "Work Sans", sans-serif;
    --heading-1: 700 40px/125% "Crimson Text", serif;
    --heading-2: 700 32px/125% "Crimson Text", serif;
    --heading-3: 700 28px/125% "Crimson Text", serif;
    --heading-4: 700 24px/125% "Crimson Text", serif;
    --heading-5: 700 20px/125% "Crimson Text", serif;
    --heading-6: 700 16px/125% "Crimson Text", serif;
    --sub-heading: 20px/125% "Work Sans", sans-serif;
    --label: 700 16px/125% "Work Sans", sans-serif;
    --label-ls: 5px;

    /* Colors */
    --main-color-100: rgba(116, 198, 157, 1.0);
    --main-color-75: rgba(116, 198, 157, 0.75);
    --main-color-50: rgba(116, 198, 157, 0.50);
    --main-color-25: rgba(116, 198, 157, 0.25);
    --color-2-100: rgba(33, 37, 41, 1.0);
    --color-2-75: rgba(33, 37, 41, 0.75);
    --color-2-50: rgba(33, 37, 41, 0.50);
    --color-2-25: rgba(33, 37, 41, 0.25);
    --color-3-100: rgba(255, 255, 255, 1.0);
    --color-3-75: rgba(255, 255, 255, 0.75);
    --color-3-50: rgba(255, 255, 255, 0.50);
    --color-3-25: rgba(255, 255, 255, 0.25);
}


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Main Code */

/* Navbar */

.nav {
    margin: 0 0 35px 0;
}


/* Main Content */

.main {}


/* Services */

.plans {
    margin: 0 0 135px 0;
    padding: 0 105px;
}

.plans__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans__text-box {
    text-align: center;
    margin: 0 0 78px 0;
}

.plans__label {}

.plans__heading {}

.plans__sub-heading {}

.plans__cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plans__card {
    width: 338px;
    padding: 46px 30px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;;
}

.plans__card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans__name {
    margin: 0 0 15px 0;
}

.plans__cost-container {
    display: flex;
    margin: 0 0 30px 0;
}

.plans__cost-number {
    margin: 0 9px 0 0;
    font-size: 40px;
    font-weight: 700;
}

.plans__cost-period {
    color: var(--color-2-50);
}

.plans__desc {
    text-align: center;
    margin: 0 0 52px 0;
    color: var(--color-2-50);
}

.plans__list {
    width: 100%;
    margin: 0 0 48px 0;
}

.plans__list-item {
}

.plans__list-item:not(:last-child) {
    margin: 0 0 11px 0;
}

.plans__list-item:before {
    content: "";
    position: relative;
    top: 1.5px;
    display: inline-block;
    margin: 0 14px 0 0;
    width: 18px;
    height: 14px;
    background-image: url(images/check-mark.svg);
}

.plans__btn {}